:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

img {
    border-radius: 0.625rem;
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: var(--yellow);
    height: 100vh;
    display: grid;
    place-items: center;
}

p {
    font-size: 1rem;
}

.card-blog {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 1.25rem;
    max-width: 24rem;
    border: 0.063rem solid black;
    box-shadow: 0.5rem 0.5rem black;
}

.card-blog > * {
    margin-bottom: 1.5rem;
}

.card-content > * {
    margin-bottom: 0.75rem;
}

.learning-tag {
    background-color: var(--yellow);
    padding: 0.25rem 0.75rem;
    max-width: 5.125rem;
    border-radius: 0.25rem;
    color: var(--gray-950);
    text-align: center;
    font-weight: bold;
}

.publish-date {
    color: var(--gray-950);
    font-weight: 500;
}

.title {
    color: var(--gray-950);
    font-weight: 800;
}

.title:hover {
    color: var(--yellow);
    font-weight: 800;
}

.description {
    color: var(--gray-500);
    font-weight: 500;
}

.card-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.img-avatar {
    width: 2rem;
    height: 2rem;
}

.author-name {
    color: var(--gray-950);
    text-indent: 0.75rem;
}

/*
Figtree: CSS class for a variable style

// <weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class nam

.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/